.menu-modal {
  @apply fixed right-0 left-0 bottom-0 top-0 hidden md:block md:relative md:w-full;
}

.menu-modal.is-menu-open {
  @apply flex flex-col overflow-auto z-50 px-6 py-8 bg-white;
}

.primary-nav {
  @apply flex flex-col flex-wrap justify-start md:flex-row md:items-center md:justify-end;

  @screen md {
    gap: 30px;
  }
}

.primary-nav .menu-item {
  @apply relative flex flex-col items-end py-1 md:items-center md:flex-row;
}

.primary-nav a {
  @apply text-lg py-1 text-black font-bold md:text-xl;
}

.sub-menu {
  @apply px-6 py-2 transition-opacity ease-in-out duration-200;

  /** using screen utility because linter yells for having too amny applies :( */
  @screen md {
    @apply px-0 py-0 bg-white border-white right-0 left-auto flex flex-col h-0 w-0 opacity-0 absolute top-full;

    z-index: -1;
  }
}

.sub-menu a {
  @apply md:py-1 md:px-2;
}

.menu-item-has-children:hover > .sub-menu {
  @apply md:h-auto md:opacity-100 md:overflow-visible md:w-auto md:z-10;

  min-width: 200px;
  visibility: visible;
}
