@layer base {
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  body {
    background: transparent
      linear-gradient(
        180deg,
        var(--c-primary-500) 0%,
        var(--c-primary-600) 68%,
        var(--c-primary-700) 100%
      )
      0% 0% no-repeat padding-box;
  }

  .admin-bar .site-header {
    top: 25px;
  }

  #app {
    padding-top: 80px;

    @screen md {
      padding-top: 85px;
    }

    @screen lg {
      padding-top: 103px;
    }
  }

  .has-modal-open body {
    overflow: hidden;
  }

  img {
    @apply w-full;
  }

  .bg-particles {
    top: 40px;
    left: 0;
    max-width: 80vw;
  }

  /* .bg-particles-bottom {
    bottom: -8%;
    left: 0;
    right: 0;
    max-height: 1000px;
    object-fit: cover;
  } */

  .bg-icon {
    top: 40px;
    right: -2%;
    max-width: 60vw;
  }

  /*** footer */

  .copyright-nav {
    @apply items-center justify-center md:justify-end;
  }

  .copyright-nav a {
    @apply text-white px-1;
  }

  /* Text meant only for screen readers. */
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}
