@layer base {
  body {
    background: transparent
      linear-gradient(
        180deg,
        var(--c-primary-500) 0%,
        var(--c-primary-600) 68%,
        var(--c-primary-700) 100%
      )
      0% 0% no-repeat padding-box;
  }

  img {
    @apply w-full;
  }

  .bg-particles {
    top: -20%;
    left: -20%;
  }

  /* .bg-particles-bottom {
    bottom: -8%;
    left: 0;
    right: 0;
    max-height: 1000px;
    object-fit: cover;
  } */

  .bg-icon {
    top: 0;
    right: -2%;
    max-width: 65%;
    max-height: 1400px;
  }

  /*** footer */

  .copyright-nav {
    @apply items-center justify-center md:justify-end;
  }

  .copyright-nav a {
    @apply text-white px-1;
  }
}
